[Unit]
Description=Test server daemon
After=network.target

[Service]
ExecStart=/usr/bin/pyton3 /opt/server/server.py

[Install]
WantedBy=multi-user.target
