[Unit]
Description=Test server daemon
After=network.target

[Service]
EnvironmentFile=/opt/server/env_file
User=victor
ExecStart=/usr/bin/python3 /opt/server/server.py $PORTA
StandardOutput=/var/log/teste
StandardError=null


[Install]
WantedBy=multi-user.target
